<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand text-white mt-2">
    <img
      src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
      width="40"
      height="40"
      class="mx-2 d-inline-block"
      alt=""
    />
    Angular
  </a>
</nav>
<div class="d-flex flex-column align-items-center justify-content-center mt-4">
  <h1>Angular Social Media Share</h1>
  <img
    class="rounded"
    src="https://images.ctfassets.net/cpumif18y1gd/75ClgIM3ZtnP7NJCCI8keP/14a27763d4cb719000099e516a327393/The_Joys_of_Working_as_a_Social_Media_Professional_625x417.png"
    alt="social-media"
    width="480px"
    height="300px"
  />
  <share-buttons
    theme="circles-dark"
    [include]="['facebook', 'linkedin', 'twitter', 'whatsapp']"
    [showIcon]="true"
    [showText]="false"
    url="https://techhub.knoldus.com/dashboard"
    description="Knoldus TechHub"
    class="pt-5"
  >
  </share-buttons>
  <!--Buttons with text and icons-->
  <!-- <share-buttons theme="modern-dark"
  [include]="['facebook','linkedin', 'twitter','whatsapp']"
  [showIcon]="true"
  [showText]="true"
  url="https://techhub.knoldus.com/dashboard"
  description="Knoldus TechHub"
  class="pt-5">
</share-buttons> -->
</div>
